.app {
  text-align: center;
  font-size: 35px;
  margin-top: 2%;
}

.app-title {
  font-size: 50px;
}

.app-subtitle {
  font-size: 35px;
}

.app-submit {
  padding-top: 20px;
  font-size: 14px;
  display: block;
}

.clock-days, .clock-hours, .clock-minutes, .clock-seconds {
  display: inline;
  margin: 10px;
}

.deadline-input {
  font-size: 25px;
  margin: 5px;
}

.form-control {
  margin-right: 5px;
}
